body {
	background-color: #576D7F;
}

div#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: #ddd;
	padding: 0;
}

div#header #subHeader {
	margin-left: 10px;
}

div#content {
	padding-top: 10px;
	padding-left: 10px;
	background-color: #000;
}

div#navigation {
	margin-top: 40px;
}

div#taskList {
	position: relative;
	top: 150px;
	left: 0;
	right: 0;
	z-index: 0;
}

div#taskList div {
	color: #fff;
	padding-top:2px;
	padding-left:5px;
}

div#taskList div.task.selected {
	background-color: #FF8E3D;
	border-radius: 10px;
}

div#taskList div.hiddenButton {
	display: none;
}

div#footer {
}

div#infoBox {
	position: relative;
	width: 160px;
	height: 20px;
	border: solid 3px #000;
	border-radius: 20px;
	background-color: #fff;
	margin: 10px 0;
	padding: 10px;
}
