body {
	background: url(../img/page_bg.png) repeat;
}

div#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	padding: 0;
	background: url("../img/transparent_bg.png") repeat scroll 0 0 transparent;
}

div#header div#subHeader1 {
	padding-left: 10px;
}

div#header div#subHeader1 div#infoBox {
	position: relative;
	max-width: 160px;
	height: 20px;
	border: solid 3px #000;
	border-radius: 20px;
	background-color: #fff;
	margin: 10px 0;
	padding: 10px;
}

div#header div#subHeader1 div#navigation {
	margin-top: 40px;
	font-variant: small-caps;
}

a, a:visited {
	color: #0088CC;
}

a.current {
	text-decoration: underline;
}

div#header div#subHeader1 div#themeSelection div div {
	max-width: 15px;
}

div#themeSelection div.blueTheme {
	background-color: #0088CC;
}

div#themeSelection div.pinkTheme {
	background-color: #F0F;
}

div#themeSelection div.greenTheme {
	background-color: #0F0;
}

div#header div#subHeader2 {
	position: relative;
	padding-top: 10px;
	padding-left: 10px;
	min-height: 10px;
}

div#header div#subHeader2 input,
div#header div#subHeader2 select {
	width: auto;
}

div#header div#subHeader2 div#prioSelectDiv,
div#header div#subHeader2 div#prioSelectDiv select {
	min-width: 60px;
}

div#header div#subHeader2 div#dateDiv,
div#header div#subHeader2 div#dateDiv input {
	max-width: 90%;
}

div#header div#subHeader2 div#taskDiv,
div#header div#subHeader2 div#taskDiv input {
	max-width: 90%;
}

select.errorFocus,
input.errorFocus {
	box-shadow: 0 0 50px #f00;
	-webkit-box-shadow: 0 0 50px #f00; 
	-moz-box-shadow: 0 0 50px #f00;
}

.hiddenRow {
	display: none;
	opacity: 0;
}

div#content {
	position: fixed;
	top: 70px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	padding: 0;
	opacity: 0.8;
	color: #fff;
}

div.simpleContent {
	margin-left: 5%;
	padding-left: 20px;
}

div#taskTitle {
	font-variant: small-caps;
	font-weight: bold;
	position: relative;
	top: 30px;
	left: 0;
	right: 0;
	margin: 0 0 30px 0;
	margin-left: 5%;
	margin-right: 5%;
	width: auto;
	padding-left: 20px;
	font-size: 20px;
}

div#taskList {
	font-family: "Comic Sans MS", cursive, sans-serif;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 0 30px 0;
	margin-left: 5%;
	margin-right: 5%;
}

div#taskList div.task {
	padding-top:10px;
	padding-left:5px;
	border-bottom: 1px solid #fff;
}

div#taskList div.task.selected {
	border-color: #0088CC;
	border-radius: 10px;
	box-shadow: 0 0 10px 10px #0088CC;
	-webkit-box-shadow: 0 0 10px #0088CC; 
	-moz-box-shadow: 0 0 10px #0088CC;
}

div#taskList div.hiddenButton {
	display: none;
}

div#taskList .done div {
	text-decoration: line-through;
	color: #999;
}

div#taskList div.doneButton input {
	background: url("../img/tick.png") no-repeat;
	border: none;
	width: 25px;
}

div#taskList div.deleteButton input {
	background: url("../img/delete_25x25.png") no-repeat;
	border: none;
	width: 25px;
}

div#footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	color: #fff;
	background: url("../img/transparent_bg.png") repeat scroll 0 0 transparent;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.green {
	color: green;
}

@media (max-width: 767px) {

	div#taskList div.task div.offset5,
	.row-fluid .offset5 {
		margin-left: 44.68085106382979%;
	}

	div#taskList div.task div.span1,
	div#taskList div.task div.span2,
	div#taskList div.task div.span6,
	div#taskTitle div.span1,
	div#taskTitle div.span1,
	div#taskTitle div.span6 {
		float: left;
		width: auto;
	}

	div#taskList div.task div.span1,
	.row-fluid .span1,
	.row-fluid .span1:first-child {
		width: 5.982905982905983%;
		min-width: 20px;
		margin-left: 3%;
	}

	div#taskList div.task div.span2,
	.row-fluid .span2 {
		width: 14.52991452991453%;
		min-width: 100px;
		margin-left: 3%;
	}

	div#content {
		top: 10px;
	}

	div#taskTitle {
		padding-left: 5px;
	}

	div#footer div {
		margin-left: 30%;
	}

}