body {
	background-color: #576D7F;
}

div#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	padding: 0;
	background: url("../img/transparent_bg.png") repeat scroll 0 0 transparent;
}

div#header div#subHeader1 {
	padding-left: 10px;
	background-color: #1A2026;
}

div#header div#subHeader1 div#infoBox {
	position: relative;
	width: 160px;
	height: 20px;
	border: solid 3px #000;
	border-radius: 20px;
	background-color: #fff;
	margin: 10px 0;
	padding: 10px;
}

div#header div#subHeader1 div#navigation {
	margin-top: 40px;
}

div#header div#subHeader2 {
	position: relative;
	padding-top: 10px;
	padding-left: 10px;
	min-height: 10px;
	box-shadow: 0 0 15px 10px #1A2026 inset;
	-webkit-box-shadow: 0 0 15px 10px #1A2026 inset;
	-moz-box-shadow: 0 0 15px 10px #1A2026 inset;
}

select.errorFocus,
input.errorFocus {
	box-shadow: 0 0 15px #f00;
	-webkit-box-shadow: 0 0 15px #f00; 
	-moz-box-shadow: 0 0 15px #f00;
}

.hiddenRow {
	display: none;
	opacity: 0;
}

div#content {
	position: fixed;
	top: 70px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	padding: 0;
}

div#taskList {
	font-family: "Comic Sans MS", cursive, sans-serif;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	margin: 60px 0 30px 0;
}

div#taskList div.task {
	color: #fff;
	padding-top:10px;
	padding-left:5px;
	border-bottom: 1px solid #000;
}

div#taskList div.task.selected {
	border-color: #0088CC;
	border-radius: 10px;
	box-shadow: 0 0 10px 10px #0088CC;
	-webkit-box-shadow: 0 0 10px #0088CC; 
	-moz-box-shadow: 0 0 10px #0088CC;
}

div#taskList div.hiddenButton {
	display: none;
}

div#footer {
	position: fixed;
	bottom: 0;
	background-color: #000;
	color: #fff;
	background: url("../img/transparent_bg.png") repeat scroll 0 0 transparent;
}

